<!-- <p>This is the partial for view 2.</p>
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>
 -->
 <div class="container">

  <section class="jumbotron">
    <h1>Sección Problemas</h1>

    <div class="row">

      <!-- Panel respuesta 0 -->
      <!-- <div class="col-12 panel panel-primary">
        <div class="row panel-body">
        
          <h5 class="col-10"> {{pregunta0}} </h5>

          <button  name="bp0" id="bp0"  class="col-2 btn btn-outline-success" ng-click="mostrarRespuesta0($event)">
            VER
          </button>
          
          <ul class="col-2 list-group">
            <li class="list-group-item" ng-show="mostrarCabeceras"> <strong>Id Cliente</strong> </li>
            <li class="list-group-item" ng-repeat="client in clients"> {{client.id}} </li>
          </ul>

        </div>
      </div> -->

      <!-- Panel respuesta 1 -->
      <div class="col-12 panel panel-primary">
        <div class="row panel-body">
         
          <h5 class="col-10"> {{pregunta1}} </h5>

          <button name="bp1" id="bp1" class="col-2 btn btn-outline-success" ng-click="mostrarRespuesta1($event)">
            VER
          </button>
      
          <table class="col-8 table" >
            <thead ng-show="mostrarCabeceras">
              <th>ID</th>
              <th>Nombre</th>
              <th>RUT</th>
            </thead>
            <!-- <tr ng-repeat="client in clients"> -->
            <tr ng-repeat="client in clients | orderBy:'+taxNumber'">
              <td> {{client.id}} </td>
              <td> {{client.name}} </td>
              <td> {{client.taxNumber}} </td>
            </tr>
          </table>          
          
        </div>
      </div>
      
      <!-- Panel respuesta 2 -->
      <div class="col-12 panel panel-primary">
        <div class="row panel-body">
          
        </div>
      </div>
      
      <!-- Panel respuesta 3 -->
      <div class="col-12 panel panel-primary">
        <div class="row panel-body">
          
        </div>
      </div>
      
      <!-- Panel respuesta 4 -->
      <div class="col-12 panel panel-primary">
        <div class="row panel-body">
          
        </div>
      </div>
      
      <!-- Panel respuesta 5 -->
      <div class="col-12 panel panel-primary">
        <div class="row panel-body">
          
        </div>
      </div>

      <!-- Panel respuesta 6 -->
      <div class="col-12 panel panel-primary">
        <div class="row panel-body">
          
        </div>
      </div>
      
      <!-- Panel respuesta 7 -->
      <div class="col-12 panel panel-primary">
        <div class="row panel-body">
          
        </div>
      </div>

      <!-- Panel respuesta 8 -->
      <div class="col-12 panel panel-primary">
        <div class="row panel-body">
          
        </div>
      </div>
            
            
            


     </div>
  </section>

  
</div>
